<%- include('header'); %>

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis officia eos ad voluptates eius, sint dolores aperiam culpa debitis, consequatur, nam soluta! Tempora similique maiores ea eum explicabo perferendis consequuntur.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum impedit consequatur libero eius sapiente commodi corporis a quasi tempore quo quisquam quas quam, hic exercitationem sed, voluptates dolores error beatae recusandae quae rem. Eaque maiores porro sint cum iure? Quisquam deleniti magnam nisi dolorem pariatur eaque quod vel nostrum eos laborum quas voluptas ex nobis iure ducimus, ipsa quis, necessitatibus consequatur tempora praesentium? Esse architecto explicabo, asperiores fugit dignissimos quam facilis sit, accusantium repellendus harum illo mollitia fugiat consectetur aperiam? Repellendus nemo inventore dicta vel sunt, aspernatur eaque enim iste dolorem nobis magni nihil assumenda voluptatem libero molestiae non nulla eveniet officia mollitia aliquam numquam doloribus? Incidunt omnis pariatur cupiditate voluptatem debitis a sit praesentium commodi nemo amet, modi, nihil quam placeat consectetur molestias dolorem impedit! Incidunt reiciendis optio hic, tempore sequi, reprehenderit modi dignissimos voluptatum facere expedita ex! Ullam quibusdam asperiores veritatis consectetur itaque amet eaque atque mollitia numquam?</p>

<%- include('footer'); %>